.conteiner1 {
  background-image: url("../img/pattern.png");
  background-color: cadetblue;
}

.logocontainer {
  width: 1000px;
  margin: 0 auto;
}

.logo {
  width: 150px;
}

.conteiner2 {
  width: 1000px;
  margin: 0 auto;
  font-size: 25px;
}

.spazio1 {
  line-height: 0;
}

.colore1 {
  color: grey;
}

.colore2 {
  color: darkcyan;
}

.colore3 {
  color: grey;
  font-size: 15px;
}
